:host {
  text-align: center;
  padding: 40px 30px 24px;

  .close {
    background: url(/assets/svg/icon-close.svg) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }

  .buttons {
    display: inline-block;

    button {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      border-radius: 7px;
      padding: 10px 36px;
    }

    .btnBack {
      color: #106eb0;
      border: solid 1px #106eb0;
      background-color: #fff;
      margin-right: 13px;
    }

    .redo {
      background-color: #ec7000;;
      color: #fff;
      border: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;

    span {
      margin-bottom: 14px;
    }

    .buttons {
      button {
        width: 100%;
      }

      .btnBack {
        margin-bottom: 13px;
      }
    }
  }
}
