<section>
  <div class="close" (click)="close()"></div>

  <h3 class="title">
    Cotação do meu seguro residencial
  </h3>

  <p class="text">
    Poxa!
    Este seguro residencial não é válido para imóveis de madeira ou local desocupado.
    Mas você pode contratar o seguro para um imóvel de alvenaria, sendo casa, apartamento ou chácara que esteja ocupado.
  </p>

  <div class="buttons">
    <button
      type="button"
      (click)="close()"
    >Voltar a página inicial</button>

    <button
      type="button"
    >Cotar outro tipo de imóvel</button>
  </div>
</section>
