<main>
  <div class="title">
    <h2>Quer saber quanto custa seu seguro?</h2>
    <p>Comece respondendo as perguntas abaixo e descubra :)</p>
  </div>

  <section>
    <form #form="ngForm" novalidate>
      <small>*Obrigatórios</small>

      <aside class="form-group" *ngFor="let question of questions; let i = index">
        <p>{{question?.texto_questao}} *</p>

        <div class="field-input" *ngFor="let anwser of question.respostas; let i = index">
          <input
            type="radio"
            [name]="question.id_questao"
            [id]="question.id_questao"
            [checked]="checked"/>
          <label class="form-control-placeholder" [for]="question.id_questao">{{anwser.texto_resposta}}</label>
        </div>
      </aside>

      <button
        (click)="callQuoteModal()">
        Continuar cotação
      </button>
    </form>
  </section>
</main>
