<main id="carouselControls" class="carousel slide" data-ride="carousel">
  <h2>Seguro Residencial</h2>

  <section class="carousel-inner">
    <article class="carousel-item active">
      <figure>
        <img src="https://itau-mkt-place-seguros.s3-sa-east-1.amazonaws.com/images/residencial/otimizadas/geladeira-eletrodomesticos.png" alt="geladeira-eletrodomesticos">
      </figure>
      <aside>
        <h3>Reparos de Eletrodomésticos</h3>
        <strong>A geladeira quebrou ou o freezer parou de funcionar?</strong>
        <p>Mandamos um técnico para te ajudar.</p>
      </aside>
    </article>

    <article class="carousel-item">
      <figure>
        <img src="https://itau-mkt-place-seguros.s3-sa-east-1.amazonaws.com/images/residencial/otimizadas/assistencia-residencial.png" alt="assistencia-residencial">
      </figure>
      <aside>
        <h3>Serviços de Encanador</h3>
        <strong>Rolou aquele vazamento?</strong>
        <p>Sem estresse, temos o serviço de encanador para você.</p>
      </aside>
    </article>

    <article class="carousel-item">
      <figure>
        <img src="https://itau-mkt-place-seguros.s3-sa-east-1.amazonaws.com/images/residencial/otimizadas/chave.png" alt="chave">
      </figure>
      <aside>
        <h3>Chaveiro</h3>
        <strong>Perdeu suas chaves?</strong>
        <p>A assistência manda um chaveiro até você.</p>
      </aside>
    </article>
  </section>

  <a class="carousel-control-prev" role="button" data-slide="prev">
    <p class="carousel-control-prev-icon" aria-hidden="true"></p>
    <p class="sr-only">Previous</p>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next">
    <p class="carousel-control-next-icon" aria-hidden="true"></p>
    <p class="sr-only">Next</p>
  </a>
</main>
